@import 'mixin.scss';
@import 'colors.scss';

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

@import './Sass_Components/header.scss';

@import './Sass_Components/board.scss';

@import './Sass_Components/shopping.scss';

@import './Sass_Components/categories.scss';

@import './Sass_Components/levis.scss';

@import './Sass_Components/jeans.scss';

@import './Sass_Components/footer.scss';


@import './screen/width_1232.scss';
@import './screen/width_955.scss';
@import './screen/width_768.scss';