.board {
    width: 100%;
    background-image: url('../images/zebra.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.board_wrap {
    background-color: rgba(6, 181, 169, 0.5);
    text-align: center;
    padding-top: 260px;
    padding-bottom: 160px;
}
.pretitle {
    @include font (22px, 400, white, uppercase);
    letter-spacing: 30px;
}
.title_main {
    @include font (116px, 400, white, uppercase);
    margin-top: 25px;
}